#topbar{
    background-color:black;
    height:30px;
    width:100%;
    }
    body{
    background-color:white;
    }
    #container
    {
    background-color:white;
    height:1000px;
    width:70%;
    margin:0px auto;
    }
    #header{
    background-color:white;
    height:130px;
    }
    #header img{
        float:left;
    height: 130px;
    width:10%
    }
    #header h1{
      text-align: center;
      padding:50px;
        }
    #banner{
    background-color:white;
    }
    #banner img{
    height:200px;
    width:100%;
    padding bottom:20px;
    }
    #content1{
        color:black;
        height:600px;
        width:23%;
        background-color:red;
        float:left;
        margin-right:2%;
        }
        
        #content1 p{
        font-size:23px;
        }
    
        #content2{
        color:black;
        height:600px;
        width:25%;
        background-color:green;
        float:left;
        }
        #content2 p{
        font-size: 17px;
        }
        #content3{
        
            color:black;
            height: 600px;
            width:25%;
            background-color:blueviolet;
            float:left;
        }
        #content3 p{
            font-size: 17px;
            }
            #content4{
        
                color:black;
                height:600px;
                width:23%;
                background-color:mediumseagreen;
                float:left;
                padding:2px;
            }
            #content4 p{
                font-size: 23px;
                }
        